
@-webkit-keyframes blink {
    0% {
        opacity:1
    }
    50% {
        opacity:0
    }
    100% {
        opacity:1
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1
    }
    50% {
        opacity:0
    }
    100% {
        opacity:1
    }
}
@-webkit-keyframes fadefromlow {
    0% {
        opacity:0.3
    }
    50% {
        opacity:1
    }
    100% {
        opacity:0.3
    }
}
@-moz-keyframes fadefromlow {
    0% {
        opacity:0.3
    }
    50% {
        opacity:1
    }
    100% {
        opacity:0.3
    }
}
@-webkit-keyframes fadefromhight {
    0% {
        opacity:1
    }
    50% {
        opacity:0.3
    }
    100% {
        opacity:1
    }
}
@-moz-keyframes fadefromhight {
    0% {
        opacity:1
    }
    50% {
        opacity:0.3
    }
    100% {
        opacity:1
    }
}
@keyframes fadefromhight {
    0% {
        opacity:1
    }
    50% {
        opacity:0.3
    }
    100% {
        opacity:1
    }
}
@-moz-keyframes grow {
    0% {
        -moz-transform:scale(0.9);
        transform:scale(0.9);
        opacity:0.2
    }
    50% {
        -moz-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100% {
        -moz-transform:scale(0.9);
        transform:scale(0.9);
        opacity:0.2
    }
}
@-webkit-keyframes grow {
    0% {
        -webkit-transform:scale(0.9);
        transform:scale(0.9);
        opacity:0.2
    }
    50% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100% {
        -webkit-transform:scale(0.9);
        transform:scale(0.9);
        opacity:0.2
    }
}
@keyframes grow {
    0% {
        transform:scale(0.9);
        opacity:0.2
    }
    50% {
        transform:scale(1);
        opacity:1
    }
    100% {
        transform:scale(0.9);
        opacity:0.2
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@keyframes fadeIn {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
.blink {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    -webkit-animation-direction:normal;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name:blink;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-direction:normal;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-name:blink;
    -moz-animation-timing-function:ease-in-out
}
.medium-blink {
    -webkit-transition:all 0.05s ease-in-out;
    -moz-transition:all 0.05s ease-in-out;
    -o-transition:all 0.05s ease-in-out;
    -ms-transition:all 0.05s ease-in-out;
    transition:all 0.05s ease-in-out;
    -webkit-animation-direction:normal;
    -webkit-animation-duration:0.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name:blink;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-direction:normal;
    -moz-animation-duration:0.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-name:blink;
    -moz-animation-timing-function:ease-in-out
}
.fast-blink {
    -webkit-transition:all 0.05s ease-in-out;
    -moz-transition:all 0.05s ease-in-out;
    -o-transition:all 0.05s ease-in-out;
    -ms-transition:all 0.05s ease-in-out;
    transition:all 0.05s ease-in-out;
    -webkit-animation-direction:normal;
    -webkit-animation-duration:0.1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name:blink;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-direction:normal;
    -moz-animation-duration:0.1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-name:blink;
    -moz-animation-timing-function:ease-in-out
}


.animate_attack {
    -webkit-animation: attack 1.5s linear 0s infinite alternate;
    animation: attack 1.5s linear 0s infinite alternate;
}

.animate_defense {
    -webkit-animation: defense 1.8s linear 0s infinite alternate;
    animation: defense 1.8s linear 0s infinite alternate;
}



/* Chrome, Safari, Opera */
 @-webkit-keyframes attack {
    0% {
        background:orange;
        width:0%;
    }
    50% {
        background:orangered;
        width:100%;
    }
    100% {
        background:orange;
        width:0%;
    }
}
/* Standard syntax */
 @keyframes attack {
    0% {
        background:orange;
        width:0%;
    }
    50% {
        background:orangered;
        width:100%;
    }
    100% {
        background:orange;
        width:0%;
    }
}

/* Chrome, Safari, Opera */
 @-webkit-keyframes defense {
    0% {
        background:lightgray;
        width:0%;
    }
    50% {
        background:darkslategrey;
        width:100%;
    }
    100% {
        background:lightgray;
        width:0%;
    }
}
/* Standard syntax */
 @keyframes defense {
    0% {
        background:lightgray;
        width:0%;
    }
    50% {
        background:darkslategrey;
        width:100%;
    }
    100% {
        background:lightgray;
        width:0%;
    }
}