
@keyframes blink {
    0% {
        opacity:1
    }
    50% {
        opacity:0.4
    }
    100% {
        opacity:1
    }
}

@-webkit-keyframes blink {
    0% {
        opacity:1
    }
    50% {
        opacity:0.4
    }
    100% {
        opacity:1
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1
    }
    50% {
        opacity:0.4
    }
    100% {
        opacity:1
    }
}

.blink {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    -webkit-animation-direction:normal;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name:blink;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-direction:normal;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-name:blink;
    -moz-animation-timing-function:ease-in-out
}
.medium-blink {
    -webkit-transition:all 0.05s ease-in-out;
    -moz-transition:all 0.05s ease-in-out;
    -o-transition:all 0.05s ease-in-out;
    -ms-transition:all 0.05s ease-in-out;
    transition:all 0.05s ease-in-out;
    -webkit-animation-direction:normal;
    -webkit-animation-duration:0.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name:blink;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-direction:normal;
    -moz-animation-duration:0.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-name:blink;
    -moz-animation-timing-function:ease-in-out
}
.fast-blink {
    -webkit-transition:all 0.05s ease-in-out;
    -moz-transition:all 0.05s ease-in-out;
    -o-transition:all 0.05s ease-in-out;
    -ms-transition:all 0.05s ease-in-out;
    transition:all 0.05s ease-in-out;
    -webkit-animation-direction:normal;
    -webkit-animation-duration:0.1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name:blink;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-direction:normal;
    -moz-animation-duration:0.1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-name:blink;
    -moz-animation-timing-function:ease-in-out
}


.animate_attack {
    -webkit-animation: attack 0.9s linear 0s infinite alternate;
    animation: attack 0.9s linear 0s infinite alternate;
}

.animate_defense {
    -webkit-animation: defense 0.7s linear 0s infinite alternate;
    animation: defense 0.7s linear 0s infinite alternate;
}



/* Chrome, Safari, Opera */
 @-webkit-keyframes attack {
    0% {
        background:orange;
        width:0%;
    }
    50% {
        background:orangered;
        width:100%;
    }
    100% {
        background:orange;
        width:0%;
    }
}
/* Standard syntax */
 @keyframes attack {
    0% {
        background:orange;
        width:0%;
    }
    50% {
        background:orangered;
        width:100%;
    }
    100% {
        background:orange;
        width:0%;
    }
}

/* Chrome, Safari, Opera */
 @-webkit-keyframes defense {
    0% {
        background:lightgray;
        width:0%;
    }
    50% {
        background:darkslategrey;
        width:100%;
    }
    100% {
        background:lightgray;
        width:0%;
    }
}
/* Standard syntax */
 @keyframes defense {
    0% {
        background:lightgray;
        width:0%;
    }
    50% {
        background:darkslategrey;
        width:100%;
    }
    100% {
        background:lightgray;
        width:0%;
    }
}