input[type="button"]{
    width:80%;
    padding:10px;
    margin:35px;
    border:1px solid black;
    border-radius: 10px;
}
#PV, #FO,#ARMOR, #name{
    font-weight: bold;
    font-size: 1.1em;
    font-family: "Courier New";
}

#name{
    font-size: 1.2em;
    color:whitesmoke;
    background-color:darkslategrey ;
    width:200px;
    padding:10px;
    margin:20px 0;
    text-align: center;
}

#PV{
    color: green;
}

#FO{
    color:orangered;
}

#ARMOR{
    color:lightsteelblue;
}
#picture{
    max-width: 300px;
    max-height: 300px;
}