input[type="button"]{
    width:80%;
    padding:10px;
    margin:10px;
    border:1px solid black;
    border-radius: 10px;
    cursor:pointer;
}
.PV, .FO,.ARMOR{
    font-weight: bold;
    font-size: 10pt;
    font-family: "monospace";

}



.PV{
    color: green;
}

.FO{
    color:orangered;
}

.ARMOR{
    color:darkslategrey;
}
.picture{
    max-width: 300px;
    max-height: 300px;
}
.content, #scan{
    display:none;
}

.ARMOR_space{
    height:30px;
}
.FO_space{
    height:15px;
}
.FO_space2{
    height:17px;
}

.top{
    background: url('../img/texture_marbre.jpg');
    text-align: center;
    padding:5px;
    border-radius: 15px 15px 0 0;
    text-transform: uppercase;
    text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
}
.bottom{
    background: url('../img/texture_marbre.jpg');
    text-align: center;
    padding:5px;
    border-radius:0 0 15px 15px;
    text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
    max-width: 190px;
    height:16px;
}
.column{
    width:15px;
    background:url('../img/texture_marbre.jpg');
}

#card_0, #card_1, #card_2{
    border:1px solid black;
    border-radius: 15px;
    width:200px;
    display:none;
}
.VDA{
    padding:10px;
}